@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

.ais-Hits-item {
  padding: 0 1rem;
}

.ais-Hits-item:hover {
  background-color: #f3f4f6;
}

.ais-SearchBox-input {
  width: 100%;
  border: 1px solid #e2e8f0;
}

.ais-SearchBox-submit, .ais-SearchBox-reset {
  display: none;
}

.ais-Highlight-highlighted {
  font-style: normal;
  color: #2563eb;
  font-weight: bold;
}

.ais-Hits {
  height: 100%;
  overflow: scroll;
}